{% extends "chat/base.html" %}

{% block content %}

    <div class="input-group w-50">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Naziv sobe:</span>
        </div>
        <input id="room-name-input" type="text" class="form-control">
        <input class="btn btn-outline-primary ml-2" id="room-name-submit" type="button" value="Potvrdi">
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = (e) => {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = (e) => {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock content %}